{%extends 'base.html' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{detail.name}}</li>
                      <li class="list-group-item">{{detail.age}}</li>
                      <li class="list-group-item">{{detail.course}}</li>
                      <li class="list-group-item">{{detail.address}}</li>
                      <li class="list-group-item">{{detail.phone_number}}</li>
                    </ul>
                  </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{%endblock%}
